@charset "utf-8";


/* headerの設定 */
/* ハンバーガーメニュー */
/* メニュー展開時のスタイル */
.navbar-nav .nav-link {
  color: #333; /* テキストカラー */
  font-size: 16px; /* テキストサイズ */
  font-weight: bold; /* テキストの太さ */
}

/* メニューが右側から展開する設定 */
.navbar-collapse {
  position: absolute;
  right: 15px; /* 右端から配置 */
  top: 65px; /* ナビゲーションバーの下から展開 */
  background: inherit; /* メニュー展開時の背景色 */
}


/*========= heroセクションのCSS ===============*/

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/*========= waveを描画するエリア設定 ===============*/

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}



/* 追従リンクボタンのスタイル */
.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.reserve-btn {
  display: inline-block; /* ボタン風の配置 */
  text-decoration: none; /* 下線を削除 */
  background-color: #ffeb3b; /* 黄色の背景色 */
  color: #333; /* テキストの色 */
  padding: 10px 15px; /* パディングを追加 */
  transition: background-color 0.3s; /* ホバー効果のためのトランジション */
}

.fixed-bottom a:hover {
  background-color: #ffd600; /* ホバー時に背景色を濃くする */
  color: #333; /* テキスト色はそのまま */
}
