@charset "utf-8";


/* headerの設定 */
@media (min-width: 768px) {
  .navbar-brand {
    margin-left: 30px;
    margin-top: 10px;
  }
}

/* ハンバーガーメニュー */
/* メニュー展開時のスタイル */
.navbar-nav .nav-link {
  color: #333; /* テキストカラー */
  font-size: 16px; /* テキストサイズ */
  font-weight: bold; /* テキストの太さ */
}

/* メニューが右側から展開する設定 */
.navbar-collapse {
  position: absolute;
  right: 15px; /* 右端から配置 */
  top: 65px; /* ナビゲーションバーの下から展開 */
  background: inherit; /* メニュー展開時の背景色 */
}




/*========= heroセクションのCSS ===============*/

.hero-logo {
  width: 500px;
  text-align: center;
  margin-top: 50px;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/*========= waveを描画するエリア設定 ===============*/

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
}

.blue-canvas {
  width: 100%;
  height: 100vh;
  background-color: rgba(142, 245, 215, 1);
}


