@charset "utf-8";  /* 文字セットの指定 */

/* 共通CSS */
/*========= 全体のスタイル ===============*/
body {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro','Noto Sans JP', sans-serif;  /* フォントの指定 */
  color: #494746;
  background-color: #fdfdfd;  /* 背景色 */
  line-height: 2.1;  /* 行間 */
  letter-spacing: 0.1em;  /* 文字間 */
  text-align: left;  /* テキストの配置 */
}

p {
  font-size: 1.2rem;
}

.txt-gold {
  color: #ac9434;
}

/* ヘッダーの設定 */
/* ブランドロゴのスタイル */
.navbar-brand {
  margin-left: 30px;
  margin-top: 10px;
  width: 300px;
  height: auto;
}

/* ハンバーガーメニューのボタンスタイル */
.navbar-toggler {
  border: 1px solid #494746;
  outline: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 10px;
  background: transparent;
  position: relative;
}

/* 中央のバー */
.navbar-toggler span {
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #494746;
  transition: transform 0.3s ease, opacity 0.3s ease; /* アニメーション設定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* トップバー */
.navbar-toggler span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #494746;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: -8px; /* 位置調整 */
  left: 0;
  transform-origin: center top; /* 原点を上中央に設定 */
}

/* ボトムバー */
.navbar-toggler span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #494746;
  transition: transform 0.3s ease, opacity 0.3s ease;
  top: 8px; /* 位置調整 */
  left: 0;
  transform-origin: center bottom; /* 原点を下中央に設定 */
}

/* トグルされた時の変形 */
.navbar-toggler.toggled span {
  transform: translate(-50%, -50%) rotate(45deg); /* 中央のバーを45度に回転 */
}

.navbar-toggler.toggled span::before {
  transform: translate(-3%, 800%) rotate(-90deg); /* 下のバーを-90度に回転 */
  opacity: 1; /* 透明度を1に */
}

.navbar-toggler.toggled span::after {
  transform: translate(0%, -1000%) rotate(-90deg); /* 下のバーを-90度に回転 */
  opacity: 0; /* 透明度を1に */
}

/* ハンバーガーメニューの設定 */
.navbar-nav .nav-link {
  color: #494746;  /* リンクのテキストカラー */
  font-size: 16px;  /* リンクのフォントサイズ */
  font-weight: bold;  /* リンクのフォントウェイト */
}

/* メニュー展開の位置 */
.navbar-collapse {
  position: absolute;  /* 絶対配置 */
  right: 15px;  /* 右端から展開 */
  top: 80px;  /* ナビゲーションバーの下から展開 */
  background: inherit;  /* メニュー展開時の背景色 */
}

/*========= ヒーローセクションのCSS ===============*/
.hero-logo {
  width: 500px;  /* ロゴの幅 */
  text-align: center;  /* ロゴの配置 */
  margin-top: 50px;  /* ロゴの上マージン */
}

#wrapper {
  width: 100%;  /* ラッパーの全幅 */
  height: 100vh;  /* ビューポートの高さ */
  display: flex;  /* フレックスボックス */
  justify-content: center;  /* 中央寄せ */
  align-items: center;  /* 縦方向に中央寄せ */
  overflow: hidden;  /* はみ出しを防ぐ */
  position: relative;  /* 相対配置 */
  bottom: 0;
}

/* 固定コンテンツのスタイル */
.text-contents, .img-contents {
  position: fixed;  /* 固定位置 */
  top: 0px;  /* 上部の位置 */
  width: 50%;  /* 幅 */
  height: 100vh;  /* ビューポートの高さ */
  overflow: hidden;  /* はみ出しを防ぐ */
  z-index: -1;  /* z-indexの設定 */
}
.text-contents {
  left: 0;
  margin-left: 100px;
  z-index: -1;
}
.text-contents .hero-logo{
  margin-right: 190px;
  width: 550px;
  height: 100%;
  object-fit: cover;
}
.text-contents .msg{
  white-space: nowrap;
  font-size: 36px;
  margin: 50px 150px 0 0;
}
.img-contents {
  right: 0;
  top: 10px;
  margin-right: 100px;
  z-index: -2;
}
.img-contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* レイアウト */
.text-contents {
  left: 0;  /* 左側に配置 */
}

.img-contents {
  right: 0;  /* 右側に配置 */
}

/*========= Waveを描画するエリア設定 ===============*/
/* スクロール可能なコンテンツのスタイル */
#waveCanvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 10;
  background: linear-gradient(
    to top,
    rgba(142, 245, 215, 1),  上側のグラデーション
    rgba(142, 245, 215, 0) 50%,  中間点の濃い色
    rgba(142, 245, 215, 0) 100%  下側のグラデーション
  );
}

#blue-canvas {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: 10;
  background: linear-gradient(
    to top,
    rgba(142, 245, 215, 0),  /* 上側のグラデーション */
    rgba(142, 245, 215, 1) 50%,  /* 中間点の濃い色 */
    rgba(142, 245, 215, 1) 100%  /* 下側のグラデーション */
  );
}


/* canvas {
  position: absolute;  絶対配置
  bottom: 0;  画面下部に配置
  left: 0;  左端に配置
  width: 100%;  全幅
  height: 60vh;  キャンバスの高さ
} */

/* AboutのCSS */
.abt {
  margin-top: 120vh;  /* 上の余白 */
  text-align: left;
  max-width: 1200px;
}

.abt-text {
  width: 550px;
}

.abt-img {
  width: 550px;
}

.abt-img-01 {
  width: 350px;
  height: 450px;
  margin-left: 50px;
  margin-right: -60px;
  z-index: 1;
}
.abt-img-02 {
  width: 280px;
  height: 280px;
  margin: 350px 0 0 -40px;
  z-index: 0;
}

/* MENUのCSS */
.menu {
  max-width: 1300px;
}
.menu-card {
  width: 380px;
}
/* カラーセラピー＆カウンセリングのみ以下を指定 */
.menu-card :nth-child(3){
  white-space: nowrap; /* テキストの折り返しを禁止 */
}


/* PriceのCSS */


.img-prc img{
  width: 600px;
  height: 100%;
}

/* TherapistのCSS */
.img-intro img{
  width: 600px;
  height: 100%;
}
