# RewriteEngineを有効化
RewriteEngine On

# wwwを非wwwにリダイレクト
RewriteCond %{HTTP_HOST} ^www\.lunchette-counseling\.com$ [NC]
RewriteRule ^(.*)$ https://lunchette-counseling.com/$1 [L,R=301]

# HTTPSを強制する
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
