body {
  color: #333;

}

.container-fluid  {
  padding: 0;
  margin: 0;
}
.row >*{
  padding: 0;
  margin: 0;
}

.logo {
  position: absolute;
  top: 100px;
  left: 50px;
  background-color: rgba(0, 0, 0, .5);
}

.navbar-reserve {
  writing-mode: vertical-rl;
  border: 1px solid #333;
}
.about {
  width: 1200px;
}
.footer {
  width: 100vw;
  position: fixed;
  background-color: #d3ffd1;
}

.about-text {
  width: 600px;
  padding: 50px;
  border: 1px solid #82ca7f;
  background-color: #d3ffd1;
}